@import url("./home.css");

header {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 70px;
}

.logo {
  width: 35%;
  height: 20%;
}

.photograph_section1 {
  background-color: var(--text-background-color);
  height: 300px;
  margin: 0 100px;
}

.section1_header_photographer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}

.info_photographer {
  line-height: 20px;
}

.info_name {
  color: var(--text-color-primary);
  font-size: 50px;
  font-weight: 500;
}

.info_country {
  color: var(--text-color-secondary);
  font-size: 22px;
}

.info_tagline {
  color: var(--text-color-quaternary);
  font-size: 20px;
}

.btn_contact button {
  border: none;
  background-color: var(--text-color-secondary);
  border-radius: 5px;
  padding: 19px 23px;
  color: var(--text-color-btn);
  font-size: 20px;
  cursor: pointer;
}

.picture_profil_photographer img {
  height: 220px;
  width: 220px;
  border-radius: 50%;
  object-fit: cover;
}

.photograph_section2 {
  margin-top: 50px;
  margin-left: 6.3rem;
}

.sort-container {
  display: flex;
  justify-content: start;
  align-items: center;
}

.sort-container label {
  font-size: 18px;
  font-weight: bold;
  color: var(--text-color-tertiary);
}

.btn-dropDown {
  margin-left: 30px;
  border: none;
  background-color: var(--text-color-secondary);
  border-radius: 5px;
  padding: 17px 45px;
  font-size: 18px;
  cursor: pointer;
  color: var(--text-color-btn);
  padding-left: 30px;
}

.btn-dropDown i {
  position: relative;
}

.btn-dropDown i::before {
  position: absolute;
  bottom: -4px;
  left: 7px;
}

.container-select {
  position: relative;
  display: none;
}

.container-select ul {
  position: absolute;
  display: flex;
  flex-direction: column;
  list-style: none;
  background-color: var(--text-color-secondary);
  border-radius: 5px;
  padding: 0px 42px;
  width: 8.2em;
  padding-left: 15px;
  padding-right: 15px;
  right: 0px;
  bottom: -10em;
  cursor: pointer;
}

.container-select ul li {
  line-height: 55px;
  border-bottom: solid 1px var(--text-color-btn);
  font-size: 18px;
  color: var(--text-color-btn);
}

.container-select ul li:nth-child(3) {
  border-bottom: none;
}

.container-select ul li:nth-child(1) i {
  position: absolute;
  right: 22px;
  top: 17px;
}

.photograph_section3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 5em;
  margin-bottom: 7em;
  gap: 30px;
}

#contact_modal {
  display: none;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: var(--text-color-secondary);
  border-radius: 5px;
  cursor: pointer;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}
